Repository zDevelopers/QuartzLib, pull requests merged in 2020-11, with the labels that each got.

#28 Removed org.bukkit.Achievement imports
  README.md
Labels: Bug, Compatibility

#49 ItemStackBuilder: Add a new generic ItemMeta API
  src/main/java/fr/zcraft/quartzlib/tools/items/ItemStackBuilder.java
  src/main/java/fr/zcraft/quartzlib/tools/mojang/MojangHead.java
  src/test/java/fr/zcraft/quartzlib/tools/items/ItemStackBuilderTest.java
  src/test/java/fr/zcraft/quartzlib/tools/mojang/MojangHeadTest.java
Labels: Outdated Bukkit API

#50 Update ItemStackBuilder to use the proper ItemFlags API
  src/main/java/fr/zcraft/quartzlib/components/configuration/ConfigurationValueHandlers.java
  src/main/java/fr/zcraft/quartzlib/components/gui/GuiUtils.java
  src/main/java/fr/zcraft/quartzlib/tools/items/GlowEffect.java
  src/main/java/fr/zcraft/quartzlib/tools/items/ItemStackBuilder.java
  src/main/java/fr/zcraft/quartzlib/tools/items/ItemUtils.java
  src/test/java/fr/zcraft/quartzlib/tools/items/ItemStackBuilderTest.java
Labels: Outdated Bukkit API

#53 Add extensive tests for MojangHead
  src/main/java/fr/zcraft/quartzlib/tools/mojang/MojangHead.java
  src/test/java/fr/zcraft/quartzlib/tools/mojang/MojangHeadTest.java
Labels: Tools

#56 Use Java 8 lambdas everywhere
  src/main/java/fr/zcraft/quartzlib/components/gui/Gui.java
  src/main/java/fr/zcraft/quartzlib/components/gui/GuiUtils.java
  src/main/java/fr/zcraft/quartzlib/components/gui/InventoryGui.java
  src/main/java/fr/zcraft/quartzlib/components/gui/PromptGui.java
  src/main/java/fr/zcraft/quartzlib/components/scoreboard/Sidebar.java
  src/main/java/fr/zcraft/quartzlib/tools/UpdateChecker.java
  src/main/java/fr/zcraft/quartzlib/tools/items/InventoryUtils.java
  src/main/java/fr/zcraft/quartzlib/tools/items/ItemUtils.java
  src/main/java/fr/zcraft/quartzlib/tools/text/ActionBar.java
Labels: Outdated Java API

#58 Add JetBrains Annotations
  pom.xml
  src/main/java/fr/zcraft/quartzlib/tools/items/ItemStackBuilder.java
Labels: API

#62 Update JUnit so we can run MockBukkit tests
  pom.xml
  src/test/java/fr/zcraft/quartzlib/MockedBukkitTest.java
  src/test/java/fr/zcraft/quartzlib/MockedToasterTest.java
  src/test/java/fr/zcraft/quartzlib/core/QuartzLibTest.java
  src/test/java/fr/zcraft/quartzlib/tools/items/ItemStackBuilderTest.java
  src/test/java/fr/zcraft/quartzlib/tools/mojang/MojangHeadTest.java
Labels: CI ⋅ Tests, T ⋅ Bug

#61 Removed data/damage values from ItemStackBuilder.
  CHANGELOG.md
  src/main/java/fr/zcraft/quartzlib/components/configuration/ConfigurationValueHandlers.java
  src/main/java/fr/zcraft/quartzlib/tools/items/ItemStackBuilder.java
Labels: C ⋅ Tools, M ⋅ Outdated Bukkit API

#63 Renamed back NBTType class
  src/main/java/fr/zcraft/quartzlib/components/nbt/NBT.java
  src/main/java/fr/zcraft/quartzlib/components/nbt/NBTCompound.java
  src/main/java/fr/zcraft/quartzlib/components/nbt/NBTList.java
  src/main/java/fr/zcraft/quartzlib/components/nbt/NBTType.java
Labels: C ⋅ NBT, T ⋅ Bug

#64 Added methods to ItemUtils to convert from a material family and a color to a material
  CHANGELOG.md
  checkstyle.xml
  src/main/java/fr/zcraft/quartzlib/tools/items/ColorableMaterial.java
  src/main/java/fr/zcraft/quartzlib/tools/items/ItemUtils.java
  src/test/java/fr/zcraft/quartzlib/tools/items/ItemUtilsTest.java
Labels: C ⋅ Tools, T ⋅ Feature
