Repository zDevelopers/QuartzLib, pull requests merged in 2021-04, with the labels that each got.

#75 Fixed the NoSuchMethodException
  src/main/java/fr/zcraft/quartzlib/tools/text/MessageSender.java
Labels: C ⋅ Tools, M ⋅ Critical, M ⋅ Outdated Bukkit API, T ⋅ Bug

#76 Fixed plural rules computation on Java 15+
  .github/workflows/ci.yml
  quartzlib/pom.xml
  src/main/java/fr/zcraft/quartzlib/components/i18n/translators/gettext/GettextPOTranslator.java
  src/main/java/fr/zcraft/quartzlib/components/i18n/translators/gettext/POFile.java
  src/main/java/fr/zcraft/quartzlib/components/i18n/translators/gettext/PluralForms.java
Labels: B ⋅ Needs QA, C ⋅ API, M ⋅ Outdated Java API, T ⋅ Bug, T ⋅ Dependencies

#70 Remove reflection-based DualWielding implementation, and update related utilities
  CHANGELOG.md
  src/main/java/fr/zcraft/quartzlib/tools/items/DualWielding.java
  src/main/java/fr/zcraft/quartzlib/tools/items/InventoryUtils.java
  src/main/java/fr/zcraft/quartzlib/tools/items/ItemUtils.java
Labels: M ⋅ Outdated Bukkit API

#77 [I18n] Fixes and improves plural handling
  CHANGELOG.md
  src/main/java/fr/zcraft/quartzlib/components/i18n/translators/gettext/GettextPOTranslator.java
  src/main/java/fr/zcraft/quartzlib/components/i18n/translators/gettext/POFile.java
  src/main/java/fr/zcraft/quartzlib/components/i18n/translators/gettext/PluralForms.java
Labels: B ⋅ Needs QA, C ⋅ API, T ⋅ Bug
